body {
  min-width: 960px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  /*text-transform: uppercase;*/
  color: #ffffff;

  background: #828b8f;
}
/*=========================================
 Вспомогательное оформление для сетки
 не изменять|begin|
===========================================*/
body {
  padding: 3px;
}
body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *{
  position: relative;
}
body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}
body > *::before {
  top: -3px;
  left: -3px;
}
body > * > *::before {
  top: -3px;
  left: -3px;
}
body > * > * > *::before {
  top: 0;
  left: 0;
}
body > * > * > * > *::before {
  top: 0;
  left: 0;
}
body > * > * > * > * > *::before {
  top: 0;
  left: 0;
}
/*body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}
body > *::before {
  color: white;
  background: green;
}
body > * > *  {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}
body > * > *::before {
  color: white;
  background: rgb(255, 45, 82);
}*/
/*body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
body > * > * > *::before {
  color: black;
  background: rgb(234, 255, 45);
}*/
/*body > * > * > * > * {
  background: rgba(45, 255, 243, 0.2);
  box-shadow: inset 0 0 0 3px rgb(49, 156, 255);
}
body > * > * > * > *::before {
  color: white;
  background: rgb(49, 156, 255);
}
body > * > * > * > * > * {
  background: rgba(104, 45, 255, 0.2);
  box-shadow: inset 0 0 0 3px rgb(104, 45, 255);
}
body > * > * > * > * > * > *::before {
  color: white;
  background: rgb(125, 104, 252);
}*/
/*.main-header::before {
  content: ".main-header";
}
.top-line::before {
  content: ".top-line";
  left: auto;
  right: 0;
  top: 28px;
}
.middle-line::before {
  content: ".mmiddle-line";
  left: auto;
  right: 0;
  top: 128px;
}
.bottom-line::before {
  content: ".bottom-line";
  left: auto;
  right: 0;
  top: 120px;
}
.container::before {
  content: ".container";
}
.main-header .container::before {
  top: auto;
  bottom: -28px;
}
.header-logo::before {
  content: ".header-logo";
  left: auto;
  right: 0;
}
.header-seach::before {
  content: ".header-seach";
  left: auto;
  right: 0;
}
.header-statistics::before {
  content: ".header-statistics";
  left: auto;
  right: 0;
}
.shop-name::before {
  content: ".shop-name";
  left: auto;
  right: 0;
}
.header-contacts::before {
  content: ".header-contacts";
  left: auto;
  right: 0;
}
.user-block::before {
  content: ".user-block";
  left: auto;
  right: 0;
}
.main-navigation::before {
  content: ".main-navigation";
}
.page-content::before {
  content: ".page-content";
}
.groups::before {
  content: ".groups";
  left: auto;
  right: 0;
}
.group-materials::before {
  content: ".group-materials";
  left: auto;
  right: 0;
}
.group-tool::before {
  content: ".group-tool";
  left: auto;
  right: 0;
}
.group-technics::before {
  content: ".group-technics";
  left: auto;
  right: 0;
}
.group-discounts::before {
  content: ".group-discounts";
  left: auto;
  right: 0;
}
.group-delivery::before {
  content: ".group-delivery";
  left: auto;
  right: 0;
}
.group-slider::before {
  content: ".group-slider";
  left: auto;
  right: 0;
}
.popular-items::before {
  content: ".popular-items";
  left: auto;
  right: 0;
}
.popular-manufacturers::before {
  content: ".popular-manufacturers";
  left: auto;
  right: 0;
}
.manufacturers-header::before {
  content: ".manufacturers-header";
  left: auto;
  right: 0;
  top: 60px;
}
.catalog-manufacturers::before {
  content: ".catalog-manufacturers";
  left: auto;
  right: 0;
  top: 370px;
}
.manufacturers-up::before {
  content: ".manufacturers-up";
  left: auto;
  right: 0;
  top: 120px;
}.manufacturers-bottom::before {
  content: ".manufacturers-bottom";
  left: auto;
  right: 0;
  top: 120px;
}
.services::before {
  content: ".services";
  left: 0;
  right: auto;
}
.services-header::before {
  content: ".services-header";
  left: auto;
  right: 0;
}
.services-header-title::before {
  content: ".services-header-title";
  left: auto;
  right: 0;
  top: 20px;
}
.services-header p::before {
  content: ".services-header";
  left: auto;
  right: 0;
}
.services-tabs::before {
  content: ".services-tabs";
  left: auto;
  right: 0;
}
.about::before {
  content: ".about";
  left: auto;
  right: 0;
}
.about-company::before {
  content: ".about-company";
  left: auto;
  right: 0;
}
.about-contacs::before {
  content: ".about-contacs";
  left: auto;
  right: 0;
}
.main-footer::before {
  content: ".main-footer";
}
.footer-up::before {
  content: ".footer-up";
  left: auto;
  right: 0;
}
.footer-left::before {
  content: ".footer-left";
  left: auto;
  right: 0;
  top: 115px;
}
.footer-right::before {
  content: ".footer-right";
  left: auto;
  right: 0;
  top: 170px;
}
.footer-bottom::before {
  content: ".footer-bottom";
  left: auto;
  right: 0;
}
.breadcrumbs::before {
  content: ".breadcrumbs";
  left: auto;
  right: 0;
}
.page-logo::before {
  content: ".page-logo";
  left: auto;
  right: 0;
}
.filters::before {
  content: ".filters";
  left: auto;
  right: 0;
}
.sorting::before {
  content: ".sorting";
  left: auto;
  right: 0;
}
.pages::before {
  content: ".pages";
  left: auto;
  right: 0;
}
.info-item::before {
  content: ".info-item";
  left: auto;
  right: 0;
}*/
/*======================================
 Вспомогательное оформление для сетки
 не изменять|end|
=======================================*/
body {
  min-width: 960px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}
/* index.html begin
/*==============================*/
.main-header {
  color: #000;
  background: #f1f5f7;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.top-line {
  color: #fff;
  background-color: #293449;
}
.top-line .container {
  width: 720px;
  padding-left: 220px;
}
.header-logo {
  position: absolute;
  max-width: 220px;
  top: 0;
  left: 0;
  float: left;
  margin-right: 10px;
  padding: 9px 55px;
  /*padding-bottom: 14px;*/
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;
}
.header-logo:hover {
  background-color: #ca2c37;
}
.header-logo:active {
    background-color: #ba2732;
}
.header-seach {
  width: 260px;
  float: left;
}
.header-seach label {
  position: relative;
  display: block;
  vertical-align: middle;
  /*padding-top: 12px;
  padding-bottom: 12px;*/
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}
.header-seach label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -2px -68px;
  opacity: 0.3;
}
.header-seach label:hover::before {
  opacity: 1;
}
.header-seach label:active::before {
  opacity: 0.3;
}
.header-seach label:focus::before {
  /*поискать решение, не показывается при курсоре в поле*/
  background: url("../img/.icon-search-red.png") no-repeat;
}
.header-seach input {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  /*height: 42px;*/
  padding-left: 48px;
  line-height: 42px;
  color: #fff;
  background: #293449;
}
.header-seach label:hover input {
  background: #212a3a;
}
.header-seach label input:focus {
  color: #000;
  background: #fff;
}
.header-statistics {
  max-width: 460px;
  float: right;
}
.statistic-bookmartes {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 25px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
.header-seach label:hover,
.statistic-bookmartes:hover,
.statistic-basket:hover,
.statistic-order:hover {
  color: #fff;
  background-color: #212a3a;
}
.statistic-bookmartes::before {
  content:"";
  position: absolute;
  top: 10px;
  left: 22px;
  width: 13px;
  height: 15px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -5px -44px;
  opacity: 0.3;
}
.statistic-bookmartes:hover::before,
.statistic-basket:hover::before {
  opacity: 1;
}
.statistic-bookmartes:active,
.statistic-basket:active {
  background-color: #161d29;
}
.statistic-basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  max-width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 25px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
.statistic-basket::before {
  content:"";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 16px;
  height: 16px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -8px -8px;
  opacity: 0.3;
}
.statistic-order {
  display: inline-block;
  vertical-align: top;
  float: right;
  max-width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background: #63a63e;
}
.statistic-order:hover {
  background-color: #5fbb2d;
}
.statistic-order:active {
  background-color: #518534;
}
.middle-line {
  padding-top: 46px;
  padding-bottom: 43px;
  color: #000;
  background-color: #f1f5f7;
}
.shop-name {
  max-width: 300px;
  float: left;
  margin: 0;
  margin-right: 20px;
}
.shop-name a{
  display: block;
  /*padding-bottom: 32px;*/
  padding-left: 52px;
  padding-right: 30px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-decoration: none;
}
.header-contacts {
  max-width: 300px;
  float: left;
  margin-right: 20px;
}
.header-contacts {
  padding-right: 20px;
  color: #32425c;
}
.header-tel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  padding-left: 74px;
  padding-right: 52px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #e9292a;
  font-size: 21px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 3px solid #fff;
}
.header-contacts::before {
  content:"";
  position: absolute;
  top: 9px;
  left: 13px;
  width: 19px;
  height: 19px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -5px -467px;
}
.user-block {
  max-width: 300px;
  float: right;
}
.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 140px;
  padding-top: 16px;
  padding-bottom: 18px;
  padding-right: 27px;
  padding-left: 48px;
  margin-right: 10px;
  font-size: 21px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  background: #fff;
}
.login:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -7px -430px;
  opacity: 0.3;
}
.login:hover {
  color: #ee3643;
}
.login:hover::before {
  color: #32425c;
  opacity: 1;
}
.login:active {
  opacity: 0.3;
}
.registration {
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  padding: 16px 25px;
  font-size: 21px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  background: #fff;
}
.registration:hover {
  color: #ee3643;
}
.registration:active {
  opacity: 0.3;
}
.bottom-line {
  padding-bottom: 40px;
  color: #fff;
  background-color: #f1f5f7;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
}
.main-navigation a {
  display: block;
  padding-top: 21px;
  padding-bottom: 17px;
  padding-left: 33px;
  padding-right: 30px;
  color: #fff;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #293449;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
}
.page-content {
  padding-top: 60px;
  min-width: 940px;
  color: #000;
  background-color: #fff;
}
.groups {
  margin-bottom: 53px;
}
.group-materials,
.group-tool,
.group-technics {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.group-technics {
  margin-right: 0px;
}
.group-slider {
  float: left;
  width: 620px;
  height: 266px;
  margin-right: 20px;
}
.group-discounts,
.group-delivery {
  float: right;
  width: 300px;
  margin-bottom: 20px;
}
.group-delivery {
  margin-bottom: 0px;
}
.group-materials {
  background: #f6b22d;
}
.group-materials a,
.group-tool a,
.group-technics a,
.group-discounts a,
.group-delivery a{
  position: relative;
  display: block;
  color: #fff;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 24px;
  text-decoration: none;
}
.group-materials a ::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 44px;
  height: 65px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -10px -888px;
}
.group-materials a::after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 235px;
  width: 65px;
  height: 60px;
  z-index: 20;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0px -1137px;
}
.group-materials h3,
.group-tool h3,
.group-technics h3,
.group-discounts  h3,
.group-delivery  h3{
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 17px;
}
.group-materials p,
.group-tool p,
.group-technics p,
.group-discounts p,
.group-delivery p{
  display: inline-block;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}
.group-materials p {
  padding-left: 24px;
  padding-right: 24px;
}
.group-tool p {
  padding-left: 27px;
  padding-right: 27px;
}
.group-technics p {
  padding-left: 30px;
  padding-right: 30px;
}
.group-discounts p {
  padding-left: 23px;
  padding-right: 23px;
}
.group-delivery p {
  padding-left: 38px;
  padding-right: 38px;
}
.group-materials p:hover,
.group-tool p:hover,
.group-technics p:hover,
.group-discounts p:hover,
.group-delivery p:hover {
  background: rgba(0, 0, 0, 0.2);
}
.group-materials p:active,
.group-tool p:active,
.group-technics p:active,
.group-discounts p:active,
.group-delivery p:active {
  background: rgba(0, 0, 0, 0.3);
}
.group-tool {
  background: #4aafde;
}
.group-tool a::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -10px -1055px;
}
.group-technics {
  background: #cc79d1;
}
.group-technics a::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -10px -975px;
}
.group-discounts {
  background: #85d179;
}
.group-discounts a,
.group-delivery a{
  color: #fff;
  text-decoration: none;
}
.group-discounts a::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -12px -715px;
}
.group-delivery {
  background: #f6b22d;
}
.group-delivery a::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 39px;
  width: 78px;
  height: 65px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -12px -805px;
}
.slider-slides a {
  padding-left: 24px;
}
.popular-items {
  margin-bottom: 20px;
  background-color: #fdfdfc;
  color: #000;
}
.popular-item {
  font-size: 0;
}
.popular-title {
  font-size: 30;
  line-height: 30;
}
.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  /*margin-bottom: 20px;*/
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e5e5e5;
}
.item:hover {
  box-shadow: 0px 1px 25px 0px #293449;
}
.item:nth-child(4n+4){
  margin-right: 0;
}
.item:nth-child(4n+4) .title {
  margin-bottom: 43px;
}
.new:before {
  position: absolute;
  content: '';
  top: -1px;
  left: 148px;
  width: 60px;
  height: 60px;
  background: #000;
  z-index: 10;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0px -1137px;
}
.item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 90px;
  padding: 40px 0;
  background-color: #fff;
}
.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
  border-radius: 3px;
}
.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
/*не вешается иконка почему-то*/
/*.item .actions::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 13px;
  height: 15px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -27px -3px;
  opacity: 0.3;
}*/
.actions .buy:hover {
  background-color: #5fbb2d;
}
.actions .bookmark:hover {
  border-color: #32425c;
}
.actions .buy:active {
  background-color: #518534;
}
.actions .bookmark:active {
  opacity: 0.3;
}
.item:hover .actions {
  display: block;
}
.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}
.item .actions {
  display: none;
}
.item .image {
  width: 144px;
  height: 128px;
  margin: 0 auto;
  overflow: hidden;
}
.item .image img {
  max-width: 100%;
}
.item .title {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 25px;
}
.item .title a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}
.item .price-old {
  min-height: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: line-through;
  font-weight: bold;
  color: #999;
}
.item .price-new {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #ee3643;
  border-radius: 3px;
}
.item .price-new:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}
.popular-manufacturers {
  margin-bottom: 85px;
}
.manufacturers-header,
.popular-header {
  padding: 25px 30px;
  margin-bottom: 20px;
  color: #000;
  background-color: #f7f3ec;
}
.popular-title,
.manufacturers-title {
  float: left;
  width: 460px;
  line-height: 38px;
  margin: 0;
  color: #32425c;
  text-transform: uppercase;
}
.popular-header a,
.manufacturers-header a {
  float: right;
  width: 252px;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 3px;
}
.manufacturers-row {
  margin-bottom: 20px;
  font-size: 0;
  vertical-align: middle;
}
.manufacturers-bottom {
}
.manufacturer {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  line-height: 143px;
  border: 1px solid #e5e5e5;
}
.manufacturers-row .manufacturer:last-child {
  margin-right: 0;
}
.manufacturer img {
  /*центровка картинок*/
  text-align: center;
  vertical-align: middle;
}
.manufacturer:hover {
  box-shadow: 0px 1px 25px 0px #293449;
}
.manufacturer img:active {
  opacity: 0.3;
  box-shadow: 0px 1px 25px 0px #293449;
}
.services {
  /* Только для оформления сетки */
  min-height: 522px;
}
.services-header {
  /* Только для оформления сетки */
  min-height: 238px;
}
.services-header-title {
  width: 300px;
  margin-top: 66px;
  margin-bottom: 34px;
  /* Только для оформления сетки */
  min-height: 30px;
}
.services-header p {
  width: 460px;
  /* Только для оформления сетки */
  min-height: 40px;
}
.services-tabs {
  /* Только для оформления сетки */
  /*min-height: 40px;*/
  min-height: 260px;
}



.about {
  color: #000;
  background: #fff;
}
.about-company {
  float: left;
  max-width: 540px;
  margin-bottom: 86px;
}
.company-title,
.contacs-title {
  margin-top: 80px;
  margin-bottom: 38px;
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}
.about-company p,
.about-contacs p {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;

}
.about-company p:first-child,
.about-contacs p:first-child{
  margin-bottom: 36px;
}
.about-company p:last-child {
  margin-bottom: 26px;
}
.company-contacts {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.company-contacts li:last-child:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  top: 20px;
	left: 0px;
	background: #fb565a;
}
.company-contacts li {
  padding: 12px 36px;
}
.company-info {
  max-width: 220px;
  height: 38px;
  padding: 12px 40px;
  margin-bottom: 85px;
  font-size: 14px;
  line-height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 3px;
}
.about-contacs {
  float: right;
  max-width: 300px;
}
.about-contacs img {
  width: 300px;
  height: 158px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.contacs-info {
  max-width: 300px;
  height: 38px;
  padding: 12px 56px;
  margin-bottom: 85px;
  font-size: 14px;
  line-height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 3px;
}

.main-footer {
  min-width: 940px;
  color: #fff;
  background: #32425c;
}
.footer-bottom {
  background: #293449;
}
.footer-left {
  float: left;
  max-width: 380px;
}
.footer-left-logo {
  display: inline-block;
  vertical-align: top;
  max-width: 220px;
  margin-bottom: 28px;
  padding: 20px 40px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  background: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;
}
.footer-left-logo a {
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
}
.footer-left-adrees {
  max-width: 380px;
  color:#aab0b9;
  font-size: 18px;
  line-height: 24px;
}
.footer-tel {
  color:#aab0b9;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.footer-right {
  float: right;
  max-width: 550px;
}
.footer-menu  {
  width: 550px;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.footer-menu li {
  display: inline-block;
  vertical-align: top;
  margin-left: 54px;
}
.footer-menu a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.footer-menu li:first-child {
  margin-left: 0;
  color: #ffd180;
}
.footer-menu li:nth-of-type(6) {
  margin-left: 22px;
}
.footer-menu li:nth-child(6) a,
.footer-menu li:nth-child(7) a,
.footer-menu li:nth-child(8) a,
.footer-menu li:nth-child(9) a{
  color: #f5ca7e;
}
.footer-menu a:hover {
  text-decoration: underline;
}
.footer-menu a:active {
  opacity: 0.5;
}
.footer-bottom a {
  color: #fff;
  text-decoration: none;
}
.footer-license {
  max-width: 240px;
  float: left;
  margin: 0;
  margin-right: 190px;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
}
.footer-social {
  max-width: 170px;
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 30px;
  margin-right: 90px;
  text-align: center;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  text-decoration: none;
  border-radius: 50%;
  background: #212a3a url("../img/sprites.png") no-repeat center;
}
.social-btn-vk {
  background-position: 3px -665px;
}
.social-btn-fb {
  background-position: 6px -275px;
}
.social-btn-inst {
  background-position: 3px -345px;
}
.social-btn:hover {
  background-color: #ee3643;
}
.social-btn:active {
  background-color: #ee3643;
}
.footer-feedback {
  max-width: 140px;
  float: left;
  margin-right: 20px;
}
.footer-feedback p {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
.footer-copyright {
  max-width: 140px;
  float: right;
}
.footer-copyright p {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
.copyright .btn {
  margin-right: 0;
}
.footer-feedback a,
.footer-copyright a{
  color: #f5ca7e;
}
.footer-feedback a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-copyright a:active {
  color: #ee3643;
}
/* index.html end */
/*============================*/

/* сетка catalog.html begin */
/*============================*/
.breadcrumbs {
  /* Только для оформления сетки */
  min-height: 59px;
}
.page-logo {
  /*float: left;*/
  width: 460px;
  height: 88px;
}
.filters {
  float: left;
  width: 220px;
  margin-right: 20px;
  /* Только для оформления сетки */
  min-height: 550px;
}
.filter-logo {
  /*min-width: 140px;*/
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: red;
  /*height: 38px;*/
  background-color: #f7f3ec;
}
.filter-price {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.filter-price-logo,
.filter-maker-title,
.filter-power-title {
  /*padding-top: 17px;*/
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 30px;
  background-color: #f7f3ec;
  color: red;
}
.filter-price .range-filter {
  min-height: 80px;
}
.filter-maker {
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  /* Только для оформления сетки */
  min-height: 218px;
}
.filter-power {
  padding-top: 22px;
  padding-bottom: 74px;
}
.btn {
  width: 138px;
  height: 36px;
  border: 1px solid #e5e5e5;
}
.sorting {
  float: right;
  width: 700px;
  margin-bottom: 52px;
  /* Только для оформления сетки */
  min-height: 250px;
}
.sort {
  margin-bottom: 20px;
  /* Только для оформления сетки */
  min-height: 38px;
}
.sort-logo {
  width: 220px;
  margin-right: 20px;
  /* Только для оформления сетки */
  min-height: 38px;
}
.sort-filter {
  width: 380px;
  margin-right: 20px;
  /* Только для оформления сетки */
  min-height: 38px;
}
.sort-top-bottom {
  width: 60px;
  /* Только для оформления сетки */
  min-height: 38px;
}

.catalog-items .item:nth-child(1),
.catalog-items .item:nth-child(2),
.catalog-items .item:nth-child(4),
.catalog-items .item:nth-child(5),
.catalog-items .item:nth-child(7),
.catalog-items .item:nth-child(8) {
  float: left;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}
.catalog-items .item:nth-child(3),
.catalog-items .item:nth-child(6),
.catalog-items .item:nth-child(9) {
  float: right;
  width: 218px;
  min-height: 316px;
  margin-right: 0;
  border: 1px solid #e5e5e5;
}
.catalog-items .item:nth-child(7),
.catalog-items .item:nth-child(8),
.catalog-items .item:nth-child(9) {
  margin-bottom: 0;
}
.pages {
  display: inline-block;
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  /*background-color: #72eebb;*/
  margin-left: 240px;
  margin-bottom: 60px;
}
.pages li {
  display: inline-block;
  margin-right: 10px;
}
.pages li a {
  display: inline-block;
  min-width: 37px;
  height: 37px;
  background-color: #fff;
  color: #000;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  line-height: 38px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.pages li:first-child a {
  background-color: #ee3643;
  color: #fff;
  border: 1px solid #ee3643;
}
.pages li:last-child a {
  padding-left: 30px;
  padding-right: 30px;
}
.info-item {
  padding-top: 62px;
  /* Только для оформления сетки */
  min-height: 261px;
}
.info-title {
  font-size: 24px;
  line-height: 30px;
}
.info-discription {
  font-size: 13px;
  line-height: 24px;
}











/* сетка catalog.html end */
/*============================*/
